body {
    margin: 0;
    padding: 0;
    background-image: url('blurry-gradient-haikei (1).png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.clock-container {
    text-align: center;
    margin-top: 50px;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#clock {
    font-size: 3em;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    animation: colorChange 5s infinite alternate;
}

@keyframes colorChange {
    0% {
        color: #333;
    }

    25% {
        color: #ff6347; /* Tomato */
    }

    50% {
        color: #1e90ff; /* DodgerBlue */
    }

    75% {
        color: #8a2be2; /* BlueViolet */
    }

    100% {
        color: #333;
    }
}

